*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    padding: 8px 16px;
    border: 1px solid red;
}

#br{
    width: 1500px;
    height: 800px;
    background-image: url(https://www.w3schools.com/w3images/architect.jpg);
    margin: auto;
    margin-top: 0px;
    padding-top: 400px;
    
    
    
}


#projects{
    margin-top: 100px;
}

#brbaslik{
    font-size: 50px;
    text-align: center;

}

.buttons{
    margin-right: 16px;
    text-decoration: none;
    border: none;
    width: 124.2px;
    height: 38.5px;
    background-color: white;
}
#button1{
    border: none;
    width: 124.2px;
    height: 38.5px;
    background-color: white;
}
#button1:hover{
    background-color: darkgrey;
    color: white;
}
.buttons:hover{
    background-color: darkgrey;
    color: white;
}
